<div class="row">
  <div class="col-4 skills-blocks">
    <%= image_tag "ruby.png", width: '50px', height: '50px', alt: "Generic placeholder image" %>
      <div class="media-body">
        <h5 class="mt-0 mb-1">Ruby</h5>
      </div>
  </div>
  <div class="col-4">
    <%= image_tag "RoR.png", width: '50px', height: '50px', alt: "Generic placeholder image" %>
      <div class="media-body">
        <h5 class="mt-0 mb-1">Ruby on Rails</h5>
      </div>

  </div>
  <div class="col-4">
    <%= image_tag "PostgreSQL.png", width: '50px', height: '50px', alt: "Generic placeholder image" %>
      <div class="media-body">
        <h5 class="mt-0 mb-1">PostgreSQL</h5>
      </div>

  </div>
  <div class="col-4">
    <%= image_tag "github.png", width: '50px', height: '50px', alt: "Generic placeholder image" %>
      <div class="media-body">
        <h5 class="mt-0 mb-1">Github</h5>
      </div>

  </div>
  <div class="col-4">
    <%= image_tag "HTML.png", width: '50px', height: '50px', alt: "Generic placeholder image" %>
      <div class="media-body">
        <h5 class="mt-0 mb-1">HTML</h5>
      </div>

  </div>
  <div class="col-4">
    <%= image_tag "css.png", width: '50px', height: '50px', alt: "Generic placeholder image" %>
      <div class="media-body">
        <h5 class="mt-0 mb-1">CSS</h5>
      </div>

  </div>
  <div class="col-4">
    <%= image_tag "Photoshop.png", width: '50px', height: '50px', alt: "Generic placeholder image" %>
      <div class="media-body">
        <h5 class="mt-0 mb-1">Photoshop</h5>
      </div>

  </div>
  <div class="col-4">
    <%= image_tag "Ai.png", width: '50px', height: '50px', alt: "Generic placeholder image" %>
      <div class="media-body">
        <h5 class="mt-0 mb-1">Illistrator</h5>
      </div>

  </div>
  <div class="col-4">
    <%= image_tag "command-line.png", width: '50px', height: '50px', alt: "Generic placeholder image" %>
      <div class="media-body">
        <h5 class="mt-0 mb-1">CLI</h5>
      </div>
  </div>
</div>
