<!-- <div class="topnav">
    <%= nav_helper 'nav-link', 'span' %>
    <a><%= login_helper 'nav-link' %></a>
</div> -->

<!-- <div class="collapse bg-dark" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4">
        <h4 class="text-white">About</h4>
        <p class="text-muted">random body text</p>
      </div>
      <div class="col-sm-4 py-4">
        <h4 class="text-white">Explore</h4>
        <ul class="list-unstyled">
          <%= nav_helper 'text-white', 'li' %>
          <li><%= login_helper 'text-white' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-dark bg-dark">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand">Kyle Hatch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div> -->

<nav class="main-navigation" class="clearfix" role="navigation" id="portfolio_nav">
  <div class="navbar-class">
    <%= nav_helper 'nav-link', 'span' %>
    <%= login_helper 'nav-link' %>
  </div>
</nav>
