
<div class="app-card-container">
  <div class="card aboutmecard">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
        <%# <%= render 'shared/skills' %>
      </div>

      <div class="col-md-8">
			
        <p>stuff about me</p>

        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job History
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>
        </p>


<ul class="list-unstyled">
  <li class="media">
    <%= image_tag "ruby.png", width: '50px', height: '50px', alt: "Generic placeholder image" %>
    <div class="media-body">
      <h5 class="mt-0 mb-1">Ruby</h5>
    </div>
  </li>
    <li class="media">
    <%= image_tag "RoR.png", width: '50px', height: '50px', alt: "Generic placeholder image" %>
    <div class="media-body">
      <h5 class="mt-0 mb-1">Ruby on Rails</h5>
    </div>
  </li>  <li class="media">
    <%= image_tag "PostgreSQL.png", width: '50px', height: '50px', alt: "Generic placeholder image" %>
    <div class="media-body">
      <h5 class="mt-0 mb-1">PostgreSQL</h5>
    </div>
  </li>  <li class="media">
    <%= image_tag "github.png", width: '50px', height: '50px', alt: "Generic placeholder image" %>
    <div class="media-body">
      <h5 class="mt-0 mb-1">Github</h5>
    </div>
  </li>
    </li>  <li class="media">
    <%= image_tag "HTML.png", width: '50px', height: '50px', alt: "Generic placeholder image" %>
    <div class="media-body">
      <h5 class="mt-0 mb-1">HTML</h5>
    </div>
  </li>
    </li>  <li class="media">
    <%= image_tag "css.png", width: '50px', height: '50px', alt: "Generic placeholder image" %>
    <div class="media-body">
      <h5 class="mt-0 mb-1">CSS</h5>
    </div>
  </li>
    </li>  <li class="media">
    <%= image_tag "Photoshop.png", width: '50px', height: '50px', alt: "Generic placeholder image" %>
    <div class="media-body">
      <h5 class="mt-0 mb-1">Photoshop</h5>
    </div>
  </li>
    </li>
    </li>  <li class="media">
    <%= image_tag "Ai.png", width: '50px', height: '50px', alt: "Generic placeholder image" %>
    <div class="media-body">
      <h5 class="mt-0 mb-1">Illistrator</h5>
    </div>
  </li>
    </li>
    </li>  <li class="media">
    <%= image_tag "command-line.png", width: '50px', height: '50px', alt: "Generic placeholder image" %>
    <div class="media-body">
      <h5 class="mt-0 mb-1">CLI</h5>
    </div>
  </li>
</ul>



        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Job 1
            </div>
            <div class="card card-block">
              Job 2
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              School 1
            </div>
            <div class="card card-block">
              School 2
            </div>
            <div class="card card-block">
              School 3
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>